@charset "UTF-8";

body {
	height: 100%;
	/*display: flex;*/

	padding-top: 60px;
	padding-bottom: 60px;
    /*margin:60px 0px 0px 0px;*/
    margin: 0px;
    overflow:hidden;

    overflow: scroll; /* ここのscrollが効かない */
	height: 100vh; /* これを追加 */
	
    font-family: 'arial black';
    font-weight:lighter;
}

a {
	color:gray;
	font-size: 20px;
    text-decoration:none;
}

a:hover {
  color:black;
}

.logo {
	font-size: 30px;
	color: black;
}

.canvas {
	margin:0;
}

li {
	
	list-style: none;
	/*float: left;*/
}
